


header {
	background-color: #131313;
	height: 83px;
	display: flex;
	justify-content: space-around;
	align-items: center;

}
.nav {
	display: flex;
	
}

h1, h2, h3, h4, p, body, ul, i {
	margin: 0px;
	padding: 0px;
}

ul {
	list-style-type: none;
}

header li {
	margin: 0px 23.5px 0px 23.5px;
}


a {
	text-decoration: none;

}


header a:hover {
	color: #E3B873;
}

address {
	font-style: normal;
	text-decoration-line: underline;
}

h1 {
	height: 10px;
	width: 179.74468994140625px;
	left: 92px;
	top: 37px;
	border-radius: nullpx;
}

.yellow {
	color: #E3B873;
}
.white {
	color: #FFFFFF;
}
.yeseva {
	font-family: 'Yeseva One', cursive;
	font-style: normal;
	font-weight: 400;

}

.nunito {
	font-family: 'Nunito Sans', sans-serif;
}

.text {
	
	font-family: 'Nunito Sans', sans-serif;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
}

.button {
	
	border-radius: 2px;
	font-style: italic;

}
.buttonnav {
	background-color: #E3B873;
	height: 37px;
	width: 161px;
	left: 1187.0001220703125px;
	top: 24px;
}
.button2 {
	background-color: #E3B873;
	Width: 207px;
	Height: 51px;
	Top: 448px;
	Left: 134px;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
	border-color: #E3B873;
}
.button3 {
	Width: 207px;
	Height: 50px;
	Top: 448px;
	Left: 361px;
	border: 1px solid #FFFFFF;
	background-color: rgba(0, 0, 0, 0.0);
	box-sizing: border-box;

}


.section1 {
	background: rgba(0, 0, 0, 0.7);
	position: relative;
	height: 707px;
	overflow: hidden;
}

.imgsection1 {
	position: absolute;
	z-index: -1;
	height: 707px;
	
}

.absolute {
	position: absolute;
}

.section1>h2 {
	width: 676.11px;
	height: 105px;
	font-family: 'Yeseva One', cursive;
	font-size: 40px;
	line-height: 53.13px;
	text-transform: uppercase;
	font-style: normal;
	font-weight: 400;
	margin: 194px 0px 0px 134px;
}

.section1>p {
	font-family: 'Nunito Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 36px;
	width: 512px;
	height: 89px;
	margin-top: 318px;
	margin-left: 134px;
}

.section2 {
	background-color: #131313;
	height: 1074px;
	max-width: 1440px;
	margin: 0 auto;
}

.container {

	padding: 107px 10vw 416px;
	display: grid;
	grid-template-columns: 40% 60%;

}

.section2 h3 {
	Width: 253px;
	Height: 66px;
}



.slider {

	display: grid;
	grid-template-rows: 15% auto;
}

.menu_for_sliders li {
	color: rgba(255, 255, 255, 0.3);
	text-transform: uppercase;
	white-space: nowrap;
	max-width: 100%;
	margin-right: 60px;
	padding-bottom: 7px;
	font-size: 14px;
	line-height: 19.4px;
	height: 16.32px;

}


.menu_for_sliders li:hover {
	color: #E3B873;
	border-bottom: 1px solid #E3B873;
}


.completed_projects {
	
	margin-right: 70px;
	margin-top: 23%;
}

.completed_projects p {
	font-size: 14px;
	line-height: 27px;
}
.grid-boxes {
	margin: 30px 0px;
	height: 52px;
	
}

.grid_wrap {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 30% 30%;
	padding-top: 10px;
	grid-gap: 2vw;
}
.grid_wrap h4 {
	width: 66px;
	height: 22px;
	font-size: 18px;
	line-height: 24.95px;
	text-transform: uppercase;
	white-space: nowrap;
}


.slide {
	
	max-width: 100%;
	max-height: 482px;
}

.slide img {
	max-width: 100%;

}

.left {
 	position: relative;
 }
.stick {
	position: absolute;
	margin: 6px 0px 0px -7px;
}

.stick-2 {
	position: absolute;
	margin: 6px 0px 0px -35px;;
}

.space_between {
	justify-content: space-between;
}

.controls {
	box-sizing: border-box;
	width: 210px;
	margin-top: 6px;
}

#active {
	margin-top: -6px;
}

.point {
	height: 10px;
	width: 10px;
	border-radius: 30px;
	background: rgba(255, 255, 255, 0.3);
	margin: 9px;
}

.point:hover {
	background-color: #FFFFFF;
	transform: scale(1.2);
}

.controls i:hover, .polygon:hover {
	transform: scale(1.2);
}

input[name="r"] {
	position: absolute;
	visibility: hidden;
}


.section3 {
	display: flex;
	justify-content: center;
}

.container2 {
	width: 817px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: -300px;
}

.video_template {
	position: relative;
	width: 817px;
	height: 434px;
	background-color: rgba(0, 0, 0, 0.7);
}

.video {
	position: absolute;
	z-index: -1;
}

.polygon, .ellipse {
	position: absolute;
	left: 50%;
	top: 50%;
	
}

.polygon {
	margin-left: -8.5px;
	margin-top: -16px;
	
}

.ellipse {
	margin-left: -72.5px;
	margin-top: -72.5px;
}

.subtitle {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: center;
}

.icon {
	margin-bottom: 31px;
	margin-top: 13px;
}

.z-index {
	z-index: 2;
}